// Your variable overrides
$body-bg: #252836;
$body-color: #fff;
$card: #1F1D2B;
$theme-colors: (
  "danger": #EA7C69,
  // "light": transparent,
  "dark": #1F1D2B,
  "secondary": #252836
);


// Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import 'bootstrap-vue/src/index.scss';